<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Klinika Tizimi</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {{> navbar activePage=activePage}}
    
    <main class="main-content">
        {{#if error}}
        <div class="alert alert-error">
            {{error}}
        </div>
        {{/if}}
        
        {{{body}}}
    </main>
    
    {{> footer}}
    
    <script src="/js/main.js"></script>
</body>
</html>

